/* Chorum colors: 
 *
 * Orange: f0b845
 * Green:  5ab942
 * Olive:  90b942
 */


/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', sans-serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    background-image: url("assets/bg.jpg");
    margin-top: 0;
    margin-bottom: 0;
    color: #2b2b2b;
}

.triangle-right {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
  margin-left:40px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
  margin-right:40px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
  top:16px;
  left:-40px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
  top:16px;
  right:-40px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
}


blockquote {
    background: #cccc77;
    padding: 10px;
    margin: 0px;
    color: #2b2b2b;
    border-style: none none none solid;
    border-width: 8px;
    border-color: #666622;
}

.message a {
    color: #f0b845;
    font-weight: bold;
    text-decoration: underline;
}

#messagelist {
//    overflow: scroll;
//    max-height: 70%;
} 

/* Outer container for the whole message including meta */
.message {
    display: block;
    margin-top: 10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Speech bubble portion */
.messageBody {
    display: table-cell;
}

/* Meta information box */
.messageMeta-left {
    display: table-cell;
    text-align: center;
    padding-right: 40px;
    vertical-align: top;
}

.messageMeta-right {
    display: table-cell;
    text-align: center;
    padding-left: 40px;
    vertical-align: top;
}

.messageTitleIcon {
    padding-left: 20px;
    margin-left: 20px;
}

/* Main text of the message */
.messageText {
    max-width: 800px;
    min-width: 200px;
}

.messageText img {
    max-width: 800px;
}

/* Strap line under the message */
.messageStrap {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
    padding-top: 3px;
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

/* Icons in strap line */
.messageStrapIcons {
    float: left;
}

.messageStrapIcons img {
    margin-right: 10px;
    cursor: hand;
}

.messageEditBox {
    width: 500px;
    height: 400px;
}

.messagePostBox {
    margin-top: 20px;
    padding-top: 20px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #2b2b2b;
}

.messagePostEntry {
    border-style: solid;
    border-width: 1px;
    border-color: #2b2b2b;
    width: 100%;
    height: 100px;
}

.messagePostHint {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    width: 100%;
}

.messagePostHint a {
    text-decoration: underline;
    color: #f0b845;
    font-weight: bold;
}

code {
    background-color: #2b2b2b;
    color: #00FF00;
    display: block;
    overflow: auto;
    padding: 10px;
//    max-width: 600px;
    max-height: 500px;
}

.slim {
    margin-top: 0px;
    margin-bottom: 0px;
}

.red { background-color: #880000; color: #FFFFFF; }
.red:after { border-color: transparent #880000; }

.blue { background-color: #000088; color: #FFFFFF; }
.blue:after { border-color: transparent #000088; }

.green { background-color: #90b942; color: #2b2b2b; }
.green:after { border-color: transparent #90b942; }

.yellow { background-color: #f0b845; color: #2b2b2b; }
.yellow:after { border-color: transparent #f0b845; }

.purple { background-color: #880088; color: #FFFFFF; }
.purple:after { border-color: transparent #880088; }

.cyan { background-color: #008888; color: #FFFFFF; }
.cyan:after { border-color: transparent #008888; }

.mb-left {
    float: left;
}

.mb-right {
    float: right;
}

.avatar {
}


textarea {
    width: 100%;
}

.mbUsername {
    font-size: 12px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.footer {
    text-align: center;
    color: #444444;
    font-size: 12px;
    font-style: italic;
    margin-top: 20px;
    padding-top: 20px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #2b2b2b;
}

.questiontitle {
    padding-top: 1px;
    text-align: center;
}

.questionbox {
    border-style: solid;
    border-color: #2b2b2b;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
}

.questionbox img {
    max-width: 800px;
}

.questionuser {
    text-align: center;
    font-size: 14px;
}

.signup {
    text-align: center;
    text-size: 16px;
    padding: 10px;
}

.signup a{
    font-weight: bold;
    text-decoration: underline;
    color: #f0b845;
}

ul.menu {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

ul.menu li {
    display: inline;
    list-style: none;
    padding: 10px;
}

ul.menu li a {
    text-decoration: underline;
    color: #f0b845;
    font-weight: bold;
}

div.login {
    width: 400px;
    margin: 50px auto 0 auto;
    border-color: #2b2b2b;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

div.login table {
    width: 100%;
}

div.login input[type=text] {
    width: 100%;
}

div.login input[type=password] {
    width: 100%;
}

div.error {
    width: 300px;
    margin: 20px auto 0 auto;
    text-align: center;
    background: #883333;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

div.login a {
    text-decoration: underline;
    color: #f0b845;
    font-weight: bold;
} 

div.newpost {
    width: 100%;
    border-color: #2b2b2b;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
} 

div.newpost input[type="text"] {
    width: 100%;
}

div.newpost textarea {
    width: 100%;
    height: 400px;
}

div.forum {
    width: 100%;
}

div.forum table {
    width: 100%;
    border-collapse: collapse;
}

div.forum a {
    text-decoration: underline;
    color: #f0b845;
    font-weight: bold;
}  

div.forum tr {
    background: #90b942;
    padding: 0px;
}

div.forum td {
    background: #eeeeee;
    padding: 4px;
    border-color: #90b942;
    border-width: 1px;
    border-style: solid;
}

div.forum th {
    border-color: #90b942;
    border-width: 1px;
    border-style: solid;
    background: #90b942;
    text-align: left;
    padding: 4px;
}

div.topicTools {
    width: 100%;
}

div.topicTools ul {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

div.topicTools ul li {
    display: inline;
    list-style: none;
    padding: 10px;
}

div.topicTools ul li a {
    text-decoration: underline;
    color: #f0b845;
    font-weight: bold;
}

img.emoji {
    width: 22px;
}

.messageText a {
    color: inherit;
}

tr.sticky {
    font-weight: bold;
    background: #444444;
}

tr.sticky td {
    background: #2b2b2b;
    color: #5ab942;
}

tr.sticky td a {
    color: #5ab942;
}

div.forum h1 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.voteUsed {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
